form {
    border: 2px solid blue;
    padding: 8px;
    border-radius: 2px;
  }
  
  form:focus-within {
    background: blue;
  }
  
  label {
    text-align: center;
    /* display: inline-block; */
    /* width: 72px; */
    margin: 0px 0px 0px 30px ;
  }
  
  input {
    margin: 4px 12px;
    text-align: center;
  }